mat-list {
  text-align: left;
  align-content: left;
  height: 100%;
  font-size: 0%;
}

mat-list-item :hover {
  font-weight: bold;
}


button {
  font-style: normal;
  font-size: small;
  text-align: left;
  width: 100%;
}

.selected {
  background-color: #3f51b5;
  color: white;
}
