<mat-toolbar color="primary" *ngFor="let profile of [profile$ | async]" class="trans" class="appbar">
  <mat-toolbar-row>
    <button class=" example-spacer" mat-button (click)="contacts.toggle(); drawer2.close()" *ngIf="profile">
      <mat-icon mat-list-icon>contacts</mat-icon>
    </button>

    <img alt="photo" style="margin-left: 10px" src="{{ (selectedContact$ | async)?.profile_pic }}" mat-card-avatar
      *ngIf="profile" />

    <span *ngIf="profile" class="space">{{  (selectedContact$ | async)?.name }}</span>
    <span *ngIf="!profile"> Ramesh's App </span>


    <button class="right" mat-button (click)="drawer2.toggle(); contacts.close()">
      <img alt="photo" src="{{(profile)?.picture}}" mat-card-avatar *ngIf="profile" />
      <mat-icon mat-list-icon *ngIf="!profile?.picture">person</mat-icon>
    </button>
  </mat-toolbar-row>

</mat-toolbar>
<mat-drawer-container class="trans">
  <mat-drawer #contacts mode="side" position="start">
    <app-contacts class="trans"></app-contacts>
  </mat-drawer>
  <mat-drawer #drawer2 mode="side" position="end">
    <app-profile></app-profile>
  </mat-drawer>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
