.right {
  float: right;
  margin-right: 0;
  margin-left: auto;
}

.container {
  min-width: 100%;
  height: 90%;
}

mat-drawer-container {
  height: 100%;
}

.appbar {
  height: initial
}

.space {
  padding-left: 5px;
}
