<div class="container ">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <button class="btn btn-primery ">
          <br>
          <h3 class="card-title  text-center" *ngIf="!auth.isAuthenticated()" (click)="auth.login()">
            Log In with auth0
          </h3>

          <h3 class="card-title  text-center" *ngIf="auth.isAuthenticated()" (click)="auth.logout()">
            Log Out
          </h3>
        </button>
      </div>
    </div>
  </div>
</div>
