<mat-card *ngFor="let profile of [profile$ | async]" style="height: 100%;">
  <mat-card-header *ngIf="profile;">
    <img mat-card-avatar class="example-header-image" [src]="profile?.picture" />
    <mat-card-title>{{ profile?.given_name }}</mat-card-title>
    <mat-card-subtitle>{{profile?.nickname}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{profile?.picture}}" alt="Photo of a Shiba Inu" class="profilepic" *ngIf="profile;" />
  <!-- <mat-card-content>
    <p>
      {{ profile | json }}
    </p>
  </mat-card-content> -->
  <mat-card-actions *ngIf="profile;" style="margin:auto; text-align: center">
    <button mat-stroked-button (click)="logout()" color="warn">
      <mat-icon aria-label="Example icon-button with a heart icon">logout</mat-icon>
      LOGOUT
    </button>
  </mat-card-actions>

  <mat-card-actions *ngIf="!profile;" style="margin:auto; text-align: center">
    <button mat-stroked-button (click)="login()" color="primery">
      <mat-icon aria-label="Example icon-button with a heart icon">logout</mat-icon>
      LOGIN
    </button>
  </mat-card-actions>

  <!-- {{
    profile$ | async | json
}} -->
