.header {
  position: relative;
  height: 100%;
  width: 100%;
  margin: auto;
  max-width: 1200px;
  padding-right: 40px;
  padding-top: 40px;
}

.header-content {
  position: absolute;
  bottom: 0;
  width: 80%;
  background-color: white;
  border-radius: 10px;
  left: 10%;
  min-width: 50px;
  max-width: 50vw;
}

.header,
.header * {}


.input {
  width: 100%;
}

.sendbtn {
  float: end;
  position: absolute;
  padding: 1%;
  margin-left: 1%;
  background-color: azure;
}
