<mat-card *ngFor="let profile of [profile$ | async]">
  <mat-card-header *ngIf="profile;">
    <img mat-card-avatar class="example-header-image" [src]="profile?.picture" />
    <mat-card-title>{{ profile?.given_name }}</mat-card-title>
    <mat-card-subtitle>{{profile?.nickname}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{profile?.picture}}" alt="Photo of a Shiba Inu" class="profilepic" *ngIf="profile;" />
  <!-- <mat-card-content>
    <p>
      {{ profile | json }}
    </p>
  </mat-card-content> -->
  <mat-card-actions *ngIf="profile;">
    <button mat-button (click)="logout()">LOGOUT</button>
  </mat-card-actions>
  <mat-card-actions *ngIf="!profile;">
    <button mat-button (click)="login()">LOGIN</button>
  </mat-card-actions>
</mat-card>

<!-- {{
    profile$ | async | json
}} -->
